In [1]:
10+10

20

In [2]:
10-10

0

In [3]:
10*10

100

In [4]:
10/10

1.0

In [5]:
print('hello world')

hello world

In [6]:
a=1

In [7]:
print(type(a))

<class 'int'>

In [8]:
a='1'

In [9]:
print(type(a))

<class 'str'>

In [10]:
a=[1,2,3,4,5,6]

In [11]:
print(type(a))

<class 'list'>

In [12]:
a={'1':1, '2':2, '3':3, '4':4, '5':5, '6':6,}

In [13]:
print(type(a))

<class 'dict'>

In [12]:
#integer
a = 1+2+3
print('a = ' + str(a))
a=-10+10+(-30-40)
print('a = ' + str(a))
print(type(a))

a = 6
a = -70
<class 'int'>

In [11]:
#float
a=128.8+38-222.4764
print('a = ' + str(a))
a=2/3
print('a = ' + str(a))
print(type(a))

a = -55.6764
a = 0.6666666666666666
<class 'float'>

In [15]:
# // 소수점 절삭 연산자
a=10/3
print('a = ' + str(a))
a=10//3
print('a = ' + str(a))

a = 3.3333333333333335
a = 3

In [16]:
# ** 제곱 연산자
a=2**3
print('a = ' + str(a))
a=3**4
print('a = ' + str(a))

a = 8
a = 81

# 문자열(String)

In [327]:
a='hello world'
print('a = ' + a)
a="hello world"
print('a = ' + str(a))
a="hello world"*3
print('a = ' + str(a))
a='hello world'
print('a[0] = ' + a[0])
print('a[1] = ' + a[1])
print('a[2] = ' + a[2])
print('a[3] = ' + a[3])
print('a[4] = ' + a[4])
print('a[0:5] = ' + a[0:5])

a = hello world
a = hello world
a = hello worldhello worldhello world
a[0] = h
a[1] = e
a[2] = l
a[3] = l
a[4] = o
a[0:5] = hello

In [29]:
date = '20230315'
year = date[0:4]
month = date[4:6]
day = date[6:]
date2 = year + '-' + month + '-' + day
print("Today : " + date2 )
print('string length - Today is ' + str(len(date2)))

Today : 2023-03-15
string length - Today is 10

In [34]:
color = '빨강'
fmt = '나는 %s 을 좋아합니다.' % color
print(fmt)
color = '초록'
fmt = '나는 %s 을 좋아합니다.' % color
print(fmt)

나는 빨강 을 좋아합니다.
나는 초록 을 좋아합니다.

In [42]:
kor = 88
eng = 95
math = 97
sum = kor + eng + math
avg = sum/3
fmt = 'sum : %d, avg : %f' % (sum, avg)
result = (sum, avg)
fmt = 'sum : %d, avg : %f' % result
print(fmt)

print('result type :: ' + str(type(result)))

sum : 280, avg : 93.333333
result type :: <class 'tuple'>

# Tuple - (a,b), List - [1,2], Dict - {'a':1}

In [320]:
a = input('input integer value : ')
print('value is ' + a)
b = input('input integer value : ')
print('value is ' + b)

input integer value : 10
value is 10
input integer value : 20
value is 20

In [48]:
name = input('input your name : ')
print('name is ' + name)

input your name : Kim Minji
name is Kim Minji

In [49]:
a = input('input integer value : ')
print('value is ' + a)
b = input('input integer value : ')
print('value is ' + b)
a = int(a)
b = int(b)
print('sum = ' + str(a+b))
print('sub = ' + str(a-b))
print('mul = ' + str(a*b))
print('div = ' + str(a/b))

input integer value : 30
value is 30
input integer value : 50
value is 50
sum = 80
sub = -20
mul = 1500
div = 0.6

In [51]:
price = int(input('물건 가격 : '))
num = int(input('구매 개수 : '))
pay = int(input('지불 금액 : '))
change = pay - price * num
print('물건 가격 : %d, 구매 개수 : %d, 지불 금액 : %d => 거스름돈 : %d' %(price, num, pay, change))

물건 가격 : 500
구매 개수 : 4
지불 금액 : 3000
물건 가격 : 500, 구매 개수 : 4, 지불 금액 : 3000 => 거스름돈 : 1000

In [52]:
txt1 = "My name is {fname}, I'm {age}".format(fname = "John", age = 36)
txt2 = "My name is {0}, I'm {1}".format("John", 36)
txt3 = "My name is {}, I'm {}".format("John", 36)
print(txt1)
print(txt2)
print(txt3)

My name is John, I'm 36
My name is John, I'm 36
My name is John, I'm 36

# Python Logic - if and for ...

In [59]:
x = input('input x value : ')
x = int(x)
if x > 100 :
    print('positive')
elif x > 10 :
        print('x > 10')
else :
    print('negative')

input x value : 11
x > 10

In [63]:
a = 5
b = 2
print("{a} > {b} : ".format(a = a, b = b) + str(a > b))
print("{a} < {b} : ".format(a = a, b = b) + str(a < b))
print("{a} == {b} : ".format(a = a, b = b) + str(a == b))
print("{a} != {b} : ".format(a = a, b = b) + str(a != b))
print("{a} <= {b} : ".format(a = a, b = b) + str(a <= b))
print("{a} >= {b} : ".format(a = a, b = b) + str(a >= b))

5 > 2 : True
5 < 2 : False
5 == 2 : False
5 != 2 : True
5 <= 2 : False
5 >= 2 : True

In [72]:
#논리 연산자 & || ! => and or not
kor = 60
eng = 90
comp = kor >= 70 and eng >= 90
print('and type : ' + str(type(comp)) + ', value : ' + str(comp))
comp = kor >= 70 or eng >= 90
print('or type : ' + str(type(comp)) + ', value : ' + str(comp))

comp = kor == 70    #kor = 60
print('== type : ' + str(type(comp)) + ', value : ' + str(comp))

comp = not kor == 70
print('not type : ' + str(type(comp)) + ', value : ' + str(comp))

x = 5
comp = x % 2 == 0
print('x % 2 == 0 type : ' + str(type(comp)) + ', value : ' + str(comp))
comp = not x % 2 == 0
print('not x % 2 == 0 type : ' + str(type(comp)) + ', value : ' + str(comp))

and type : <class 'bool'>, value : False
or type : <class 'bool'>, value : True
== type : <class 'bool'>, value : False
not type : <class 'bool'>, value : True
x % 2 == 0 type : <class 'bool'>, value : False
not x % 2 == 0 type : <class 'bool'>, value : True

In [78]:
num = int(input('정수를 입력하세요 : '))
result = '입력된 정수는 100 ~ 1000 사이에 있지 않습니다!'
if num >= 100 and num <= 1000 :
    result = '입력된 정수는 100 ~ 1000 사이에 있습니다!'
    
print('입력된 정수 : {}'.format(num) + '입니다.')
print('%s' % result)

정수를 입력하세요 : 120
입력된 정수 : 120입니다.
입력된 정수는 100 ~ 1000 사이에 있습니다!

In [93]:
char = input('영어 소문자 하나를 입력하세요 : ')
if(char == 'a' or char == 'e' or char == 'i' or char == 'o' or char == 'u'):
    print('%s -> 모음' % char)
else :
    print('%s -> 자음' % char)

영어 소문자 하나를 입력하세요 : i
i -> 모음

In [111]:
month = int(input('월을 입력해주세요 : '))
if month >= 3 and month <=5 : 
    season = '봄'
    print(month, '월은 ', season, '입니다', sep = "")
elif month >= 6 and month <=8 : 
    season = '여름'
    print(month, '월은 ', season, '입니다', sep = "")
elif month >= 9 and month <=11 : 
    season = '가을'
    print(month, '월은 ', season, '입니다', sep = "")
elif month == 12 or month == 1 or month == 2 :
    season = '겨울'
    print(month, '월은 ', season, '입니다', sep = "")
else :
    print('월이 잘못 입력 되었습니다!')

월을 입력해주세요 : 13
월이 잘못 입력 되었습니다!

# 반복문 ... for, while

In [112]:
for x in range(5) :
    print('안녕하세요!')

안녕하세요!
안녕하세요!
안녕하세요!
안녕하세요!
안녕하세요!

In [123]:
cnt = 5
for i in range(cnt) : # <== for(i = 0; i<cnt(5); i++)
    print('[{}] hello world'.format(i))
print('==='*10)
    
for x in range(2,6) : # start, finish
    print(x)
print('==='*10)

for x in range(2,30,2) : # start, finish, 2씩 plus
    print(x)    
print('==='*10)

fruits = ['apple', 'banana', 'cherry']
for fruit in fruits:
    if fruit == 'banana' :
        continue #break;
    print(fruit)
print('==='*10)
    
for x in fruits:
    for y in fruits:
        print(x,y)
print('==='*10)

for x in [0,1,2,3,4,5,6] :
    print(x)

[0] hello world
[1] hello world
[2] hello world
[3] hello world
[4] hello world
==============================
2
3
4
5
==============================
2
4
6
8
10
12
14
16
18
20
22
24
26
28
==============================
apple
cherry
==============================
apple apple
apple banana
apple cherry
banana apple
banana banana
banana cherry
cherry apple
cherry banana
cherry cherry
==============================
0
1
2
3
4
5
6

# for --> 구구단
#### 2x1 = 2  3x1 = 3 ... 9x1 = 9
#### 2x2 = 4  3x2 = 6 ... 9x2 = 18
#### ...
####                                9x9 = 81

In [163]:
for row in range(1,10,1) :
    line = ''
    for col in range(2,10,1) :
        line += '{} x {} = {}\t'.format(col, row, col*row)
    print(line)

2 x 1 = 2	3 x 1 = 3	4 x 1 = 4	5 x 1 = 5	6 x 1 = 6	7 x 1 = 7	8 x 1 = 8	9 x 1 = 9
2 x 2 = 4	3 x 2 = 6	4 x 2 = 8	5 x 2 = 10	6 x 2 = 12	7 x 2 = 14	8 x 2 = 16	9 x 2 = 18
2 x 3 = 6	3 x 3 = 9	4 x 3 = 12	5 x 3 = 15	6 x 3 = 18	7 x 3 = 21	8 x 3 = 24	9 x 3 = 27
2 x 4 = 8	3 x 4 = 12	4 x 4 = 16	5 x 4 = 20	6 x 4 = 24	7 x 4 = 28	8 x 4 = 32	9 x 4 = 36
2 x 5 = 10	3 x 5 = 15	4 x 5 = 20	5 x 5 = 25	6 x 5 = 30	7 x 5 = 35	8 x 5 = 40	9 x 5 = 45
2 x 6 = 12	3 x 6 = 18	4 x 6 = 24	5 x 6 = 30	6 x 6 = 36	7 x 6 = 42	8 x 6 = 48	9 x 6 = 54
2 x 7 = 14	3 x 7 = 21	4 x 7 = 28	5 x 7 = 35	6 x 7 = 42	7 x 7 = 49	8 x 7 = 56	9 x 7 = 63
2 x 8 = 16	3 x 8 = 24	4 x 8 = 32	5 x 8 = 40	6 x 8 = 48	7 x 8 = 56	8 x 8 = 64	9 x 8 = 72
2 x 9 = 18	3 x 9 = 27	4 x 9 = 36	5 x 9 = 45	6 x 9 = 54	7 x 9 = 63	8 x 9 = 72	9 x 9 = 81

In [177]:
for x in range(2,10) :
    for y in range(2,10) :
        print('{1}x{0}='.format(x,y) + str(x*y), end = '\t')
    print(sep= '')

2x2=4	3x2=6	4x2=8	5x2=10	6x2=12	7x2=14	8x2=16	9x2=18
2x3=6	3x3=9	4x3=12	5x3=15	6x3=18	7x3=21	8x3=24	9x3=27
2x4=8	3x4=12	4x4=16	5x4=20	6x4=24	7x4=28	8x4=32	9x4=36
2x5=10	3x5=15	4x5=20	5x5=25	6x5=30	7x5=35	8x5=40	9x5=45
2x6=12	3x6=18	4x6=24	5x6=30	6x6=36	7x6=42	8x6=48	9x6=54
2x7=14	3x7=21	4x7=28	5x7=35	6x7=42	7x7=49	8x7=56	9x7=63
2x8=16	3x8=24	4x8=32	5x8=40	6x8=48	7x8=56	8x8=64	9x8=72
2x9=18	3x9=27	4x9=36	5x9=45	6x9=54	7x9=63	8x9=72	9x9=81

In [330]:
for y in range(1,10) :
    for x in range(2,10) :
        print(x,'x',y,'=',x*y, end = '\t')
    print('')

2 x 1 = 2	3 x 1 = 3	4 x 1 = 4	5 x 1 = 5	6 x 1 = 6	7 x 1 = 7	8 x 1 = 8	9 x 1 = 9
2 x 2 = 4	3 x 2 = 6	4 x 2 = 8	5 x 2 = 10	6 x 2 = 12	7 x 2 = 14	8 x 2 = 16	9 x 2 = 18
2 x 3 = 6	3 x 3 = 9	4 x 3 = 12	5 x 3 = 15	6 x 3 = 18	7 x 3 = 21	8 x 3 = 24	9 x 3 = 27
2 x 4 = 8	3 x 4 = 12	4 x 4 = 16	5 x 4 = 20	6 x 4 = 24	7 x 4 = 28	8 x 4 = 32	9 x 4 = 36
2 x 5 = 10	3 x 5 = 15	4 x 5 = 20	5 x 5 = 25	6 x 5 = 30	7 x 5 = 35	8 x 5 = 40	9 x 5 = 45
2 x 6 = 12	3 x 6 = 18	4 x 6 = 24	5 x 6 = 30	6 x 6 = 36	7 x 6 = 42	8 x 6 = 48	9 x 6 = 54
2 x 7 = 14	3 x 7 = 21	4 x 7 = 28	5 x 7 = 35	6 x 7 = 42	7 x 7 = 49	8 x 7 = 56	9 x 7 = 63
2 x 8 = 16	3 x 8 = 24	4 x 8 = 32	5 x 8 = 40	6 x 8 = 48	7 x 8 = 56	8 x 8 = 64	9 x 8 = 72
2 x 9 = 18	3 x 9 = 27	4 x 9 = 36	5 x 9 = 45	6 x 9 = 54	7 x 9 = 63	8 x 9 = 72	9 x 9 = 81

# List

In [201]:
color = ['red', 'green', 'blue', 'black', 'white']
print(color)
print(type(color))
print(color[0])
print(color[1])
print(color[2])
print(color[3])
print(color[1:4]) # 2번째~4번째
print(type(color[1:4])) 
print('='*50)

nums = list(range(1,21,2))
print(nums)
print(nums[3:7])
for x  in nums:
    print(x)
print('='*50)

animals = ['사자', '호랑이', '원숭이', '곰', '사슴']
i = 0
while i<len(animals):
    print(animals[i])
    i = i+1
print('='*50)

flower = ['무궁화', '장미', '개나리']
print(flower)
flower.append('벚꽃') #저장
print(flower)
flower.remove('장미') #삭제
print(flower)

['red', 'green', 'blue', 'black', 'white']
<class 'list'>
red
green
blue
black
['green', 'blue', 'black']
<class 'list'>
==================================================
[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]
[7, 9, 11, 13]
1
3
5
7
9
11
13
15
17
19
==================================================
사자
호랑이
원숭이
곰
사슴
==================================================
['무궁화', '장미', '개나리']
['무궁화', '장미', '개나리', '벚꽃']
['무궁화', '개나리', '벚꽃']

In [220]:
scores = []
while True:
    x=int(input('성적을 입력하세요 (종료 시 -1 입력):'))
    if x == -1:
        break
    else :
        scores.append(x)
        
sum = 0
for score in scores:
    sum = sum + score
    
avg = sum / len(scores)
print('합계 : %d, 평균 : %.2f' % (sum, avg))

성적을 입력하세요 (종료 시 -1 입력):90
성적을 입력하세요 (종료 시 -1 입력):85
성적을 입력하세요 (종료 시 -1 입력):93
성적을 입력하세요 (종료 시 -1 입력):86
성적을 입력하세요 (종료 시 -1 입력):79
성적을 입력하세요 (종료 시 -1 입력):-1
합계 : 433, 평균 : 86.60

In [331]:
fruits = ["apple","banana","cherry", "kiwi", "mango"]
newlist = []
newlist = [x for x in fruits]
print(newlist)
print('='*50)
newlist = [x for x in fruits if 'a' in x]
print(newlist)
print('='*50)
newlist = [x for x in fruits if x != "apple"]
print(newlist)

['apple', 'banana', 'cherry', 'kiwi', 'mango']
==================================================
['apple', 'banana', 'mango']
==================================================
['banana', 'cherry', 'kiwi', 'mango']

In [253]:
numbers = [ [1,2,3, 10], [4,5,6, 10], [7,8,9, 10]]
print(numbers)
print(type(numbers))
print(numbers[2])

i_len = len(numbers)
j_len = len(numbers[i])
print('row_length : ' + str(i_len))
print('col_length : ' + str(j_len))

for i in range(len(numbers)):
    for j in range(len(numbers[i])):
        print('numbers[{}][{}] = {}'.format(i, j, numbers[i][j]))

[[1, 2, 3, 10], [4, 5, 6, 10], [7, 8, 9, 10]]
<class 'list'>
[7, 8, 9, 10]
row_length : 3
col_length : 4
numbers[0][0] = 1
numbers[0][1] = 2
numbers[0][2] = 3
numbers[0][3] = 10
numbers[1][0] = 4
numbers[1][1] = 5
numbers[1][2] = 6
numbers[1][3] = 10
numbers[2][0] = 7
numbers[2][1] = 8
numbers[2][2] = 9
numbers[2][3] = 10

In [252]:
scores=[
    [75,83,90], #student 1
    [86,86,73], #student 2
    [76,95,83], #student 3
    [89,96,69], #student 4
    [89,76,93]  #student 5
]
print(scores)

        
row_len = len(scores)
col_len = len(scores[i])
print('row_length : ' + str(row_len))
print('col_length : ' + str(col_len))
for row in range(len(scores)):
    sum=0
    avg = 0.0
    for col in range(len(scores[row])):
        sum = sum + scores[row][col];
    avg = sum / len(scores[row])
    print('{}번째 학생의 합계 : {}, 평균 : {:.2f}'.format(row+1, sum, avg))

[[75, 83, 90], [86, 86, 73], [76, 95, 83], [89, 96, 69], [89, 76, 93]]
row_length : 5
col_length : 3
1번째 학생의 합계 : 248, 평균 : 82.67
2번째 학생의 합계 : 245, 평균 : 81.67
3번째 학생의 합계 : 254, 평균 : 84.67
4번째 학생의 합계 : 254, 평균 : 84.67
5번째 학생의 합계 : 258, 평균 : 86.00

In [332]:
scores=[
    [75,83,90], #student 1
    [86,86,73], #student 2
    [76,95,83], #student 3
    [89,96,69], #student 4
    [89,76,93]  #student 5
]
print(scores)

        
row_len = len(scores)
col_len = len(scores[i])
print('row_length : ' + str(row_len))
print('col_length : ' + str(col_len))

for col in range(len(scores[row])):
    sum=0
    avg = 0.0
    for row in range(len(scores)):
        sum = sum + scores[row][col];
    print('{}과목의 합계 : {}'.format(col+1, sum))

[[75, 83, 90], [86, 86, 73], [76, 95, 83], [89, 96, 69], [89, 76, 93]]
row_length : 5
col_length : 3
1과목의 합계 : 415
2과목의 합계 : 436
3과목의 합계 : 408

# Function

In [292]:
#def hello(): # function define
def hello(name):
    print('{} : This is hello function'.format(name))

In [294]:
fruits = ["apple","banana","cherry","kiwi","mango"]
for x in range(5):
    hello(fruits[x])

apple : This is hello function
banana : This is hello function
cherry : This is hello function
kiwi : This is hello function
mango : This is hello function

In [283]:
def sum(a,b):
    return a+b

In [284]:
sum(10, 10)

20

In [295]:
def calc(a,b):
    sum = a+b
    avg = sum / 2
    return sum, avg

In [296]:
ret = calc(10, 10)
print(ret)
print(type(ret))

(20, 10.0)
<class 'tuple'>

In [304]:
def sum(start, end):
    hap = 0
    for i in range(start, end+1):
        hap  = hap + i
    print('%d ~ %d의 정수의 합계 : %d' %(start, end, hap))
    print('{}~{}의 정수의 합계 : {}'.format(start, end, hap))

In [305]:
sum(1,10)
sum(100,200)
sum(200,300)

1 ~ 10의 정수의 합계 : 55
1~10의 정수의 합계 : 55
100 ~ 200의 정수의 합계 : 15150
100~200의 정수의 합계 : 15150
200 ~ 300의 정수의 합계 : 25250
200~300의 정수의 합계 : 25250

In [309]:
def sum(start, end):
    hap = 0
    for i in range(start, end+1):
        hap  = hap + i
    return hap

In [310]:
start = 1
end = 10
hap = sum(start, end)
print('{}~{}의 정수의 합계 : {}'.format(start, end, hap))
sum(100,200)
sum(200,300)

1~10의 정수의 합계 : 55

25250

# File I/O

In [1]:
file = open('sample.txt', 'w')
file.write('안녕하세요. KCCI 수업 중입니다.')
file.close()
print('sample.txt 파일쓰기 완료')

sample.txt 파일쓰기 완료

In [2]:
scores=['안소영 97 80 3 97 93',
'정예린 86 100 930 86 90',
'김세린 91 88 99 79 92',
'연수정 86 100 93 89 92',       
'박지아 80 100 95 89 90']
data = ''
for item in scores:
    data = data + item + '\n'
print(data)

file = open('scores.txt', 'w')
file.write(data)
file.close()

안소영 97 80 3 97 93
정예린 86 100 930 86 90
김세린 91 88 99 79 92
연수정 86 100 93 89 92
박지아 80 100 95 89 90

In [3]:
file = open('scores.txt', 'r')
lines = file.readlines()
print(type(lines))
print(lines)
for line in lines:
    print(line, end = '')
file.close()

<class 'list'>
['안소영 97 80 3 97 93\n', '정예린 86 100 930 86 90\n', '김세린 91 88 99 79 92\n', '연수정 86 100 93 89 92\n', '박지아 80 100 95 89 90\n']
안소영 97 80 3 97 93
정예린 86 100 930 86 90
김세린 91 88 99 79 92
연수정 86 100 93 89 92
박지아 80 100 95 89 90

# Class

class [className]:
    변수 a
    변수 b
    ...
    def method1():
        문장1
        문장2
        ...
    def method2():
        문장1
        문장2
        ...

In [333]:
class Fruit:
    name = 'orange'
    color = 'yellow'
    
    def taste(self):
        print('새콤하다')
    def vitamin(self):
        print('비타민C가 풍부하다')

In [335]:
orange = Fruit()
print(orange)
print(type(orange))

print('과일명 : {}'.format(orange.name))
print('색상 : {}'.format(orange.color))
orange.taste()
orange.vitamin()

<__main__.Fruit object at 0x000001EF4DAF5DC0>
<class '__main__.Fruit'>
과일명 : orange
색상 : yellow
새콤하다
비타민C가 풍부하다

In [ ]:
class CParent
{
    int a = 10;
    int b = 20;
    //생성자
    CParent(){cout<<"ctor"<<endl;}
    //사용자 정의 생성자
    CParent(/*this*/int a, int b)
    {
        this.a = a;
        this.b = b;
        cout<<"ctor"<<endl;
    }
    void Age(this)
    {}
    ~CParent(){cout<<"dtor"<<endl;}
}

In [341]:
class Circle:
    radius = 10
    def getArea(self):
        area = 3.141592 * self.radius * self.radius
        return area
    def getCircum(self):
        circum = 2 * 3.141592 * self.radius
        return circum

In [342]:
cir = Circle()

print('반지름 : %d'% cir.radius)
print('원의 면적 : %.2f' %cir.getArea())
print('원주의 길이 : %.2f' %cir.getCircum())

반지름 : 10
원의 면적 : 314.16
원주의 길이 : 62.83

In [343]:
class Circle:
    radius = 10
    def getArea(self):
        area = 3.141592 * self.radius * self.radius
        return area
    def getCircum(self):
        circum = 2 * 3.141592 * self.radius
        return circum

In [345]:
cir = Circle()

print('반지름 : {}'.format(cir.radius))
print('원의 면적 : {:0.2f}'.format(cir.getArea()))
print('원주의 길이 : {:0.2f}'.format(cir.getCircum()))

반지름 : 10
원의 면적 : 314.16
원주의 길이 : 62.83

In [389]:
class Student:
    name = '김민지'
    kor = 80
    eng = 90
    math = 100
    
    def getSum(self):
        sum = self.kor+self.eng+self.math
        return sum
    def getAvg(self):
        avg = self.getSum()/3
        return avg

In [390]:
student = Student()

print('이름 : {}'.format(student.name))
print('국어 : {}'.format(student.kor))
print('영어 : {}'.format(student.eng))
print('수학 : {}'.format(student.math))
print('합계 : {}'.format(student.getSum()))
print('평균 : {:.2f}'.format(student.getAvg()))

이름 : 김민지
국어 : 80
영어 : 90
수학 : 100
합계 : 270
평균 : 90.00

In [396]:
# class 생성자
class Student:
    name = '김민지'
    kor = 80
    eng = 90
    math = 100
    
    def __init__(self, name = '김민지', kor = 80, eng= 90, math= 100):
        #코드작성
        self.name = name
        self.kor = kor
        self.eng = eng
        self.math = math
        
    def getSum(self):
        sum = self.kor+self.eng+self.math
        return sum
    def getAvg(self):
        avg = self.getSum()/3
        return avg

In [397]:
student = Student('김연아',100,100,100)

print('이름 : {}'.format(student.name))
print('국어 : {}'.format(student.kor))
print('영어 : {}'.format(student.eng))
print('수학 : {}'.format(student.math))
print('합계 : {}'.format(student.getSum()))
print('평균 : {:.2f}'.format(student.getAvg()))

이름 : 김연아
국어 : 100
영어 : 100
수학 : 100
합계 : 300
평균 : 100.00

In [4]:
file = open('log.csv', 'w')
file.write('시간, 사람, AI, 승리\n')
file.close()